.productPanel {
    position: relative;
    width: 480px;
    height: 210px;
    border: 1px solid #e7e7e7;
    background-color: #fefefe;
    display: inline-block;
    margin: 5.5px;
    transition: box-shadow 1.9s;
}

.productPanel:hover {
    width: 480px;
    height: 210px;
    border: 1px solid #dddddd;
    background-color: #fefefe;
    box-shadow: 0px 0px 12px #dedede;
    transition: box-shadow 0.4s;
}

.addToCartBtn {
    position: absolute;
    bottom: 9px;
    width: 165px;
    font-size: 140%;
    text-align: center;
    margin-right: 19px;
    padding: 8px 10px;
    background-color: #f0eeee;
    color: #666;
    border: none;
    border-bottom: 2px solid #cecece;
    border-radius: 7px;
    transition: all 1.1s;
}

.addToCartBtn:hover {
    background-color: #a1cfb8;
    color: #fff;
    border-radius: 7px;
    border-bottom: 2px solid #a1a1a1;
    cursor: pointer;
    transition: all 0.4s;
}

.productName {
    display: block;
    color: #504646;
    font-size: 110%;
}

.currentPrice {
    color: #d53f3f;
}

.priceWrapper {
    font-size: 110%;
}

.oldPrice {
    color: #383838;
    text-decoration: line-through;
}

.saleFlag {
    position: absolute;
    font-size: 125%;
    left: 0;
    top: 10px;
    padding: 10px 10px 15px 10px;
    background-color: #ffde00;
    border-radius: 0px 5px 5px 0px;
}

.discountFlag {
    position: absolute;
    font-size: 125%;
    left: 0;
    top: 10px;
    padding: 10px 10px 15px 10px;
    color: #123;
    background-color: #9f9;
    border-radius: 0px 5px 5px 0px;
}

.productThumb {
    display: inline-flex;
    width: 150px;
    height: 154px;
}

.productPanel-linear {
    position: relative;
    background-color: #fefefe;
    height: 270px;
    display: flex;
    flex-direction: row-reverse;
    transition: box-shadow 1.9s;
    flex-flow: row-reverse;
    margin: 20px;
}

.wishBtn {
    position: absolute;
    right: 0;
    font-size: 150%;
    top: 12px;
    padding: 10px;
    background-color: #585858;
    border-radius: 5px 0px 0px 5px;
    transition: all 0.8s;
}

.wishBtn:hover {
    background-color: #51939a;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
}

.addToCartBtn-linear {
    position: absolute;
    width: 165px;
    bottom: 30px;
    left: 240px;
    font-size: 130%;
    margin: auto;
    text-align: center;
    padding: 8px 10px;
    background-color: #f0eeee;
    color: #666;
    border: none;
    border-bottom: 2px solid #cecece;
    border-radius: 7px;
    transition: all 1.1s;
}

.addToCartBtn-linear:hover {
    background-color: #a1cfb8;
    color: #fff;
    border-radius: 7px;
    border-bottom: 2px solid #a1a1a1;
    cursor: pointer;
    transition: all 0.4s;
}

.productName-linear {
    display: inline-flex;
    color: #1d3257;
    position: absolute;
    font-size: 150%;
    margin-top: 8px;
    left: 240px;
    top: 20px;
}

.currentPrice-linear {
    color: #d53f3f;
    position: absolute;
    bottom: 85px;
    left: 245px;
    font-size: 135%;
}

.oldPrice-linear {
    color: #383838;
    text-decoration: line-through;
    position: absolute;
    bottom: 110px;
    left: 245px;
    font-size: 135%;
}

.saleFlag-linear {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 10px 10px 15px 10px;
    background-color: #ffde00;
    border-radius: 0px 5px 5px 0px;
}

.discountFlag-linear {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 10px 10px 15px 10px;
    color: #123;
    background-color: #9f9;
    border-radius: 0px 5px 5px 0px;
}

.wishBtn-linear {
    position: absolute;
    left: 440px;
    top: 206px;
    font-size: 140%;
    padding: 7px;
    background-color: #ececec;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.8s;
    border-bottom: 2px solid #b3b3b3;
    box-shadow: 0px 0px 8px #e8e8e8;
}

.wishBtn-linear:hover {
    background-color: #dcdbde;
    border-bottom: 2px solid #dedede;
    color: #ff0000;
    cursor: pointer;
    transition: all 0.9s;
}

.productPanelRightSide {
    display: inline-flex;
    text-align: left;
    flex-flow: column;
    width: 45%;
}

.productBrief-Linear {
    color: #53664c;
    position: absolute;
    font-size: 135%;
    left: 190px;
    bottom: 185px;
}

.productThumb-linear {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: 1px solid #d7d7d7;
    background-color: #fefefe;
    margin-top: 30px;
    margin-left: 10px;
    display: inline-flex;
    width: 150px;
    height: 155px;
    justify-content: space-around;
    transition: all 0.9s;
}

.productThumb-linear:hover {
    background-color: #fefefe;
    box-shadow: 0px 10px 40px #c4c4c4;
    transition: all 0.9s;
}

select {
    padding: 6px;
    font-size: 16px;
    color: #5a3c3c;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    font-family: "fantasy";
}

select:hover {
    padding: 6px;
    font-size: 16px;
    color: #5a3c3c;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    font-family: "fantasy";
}

select:focus {
    padding: 6px;
    font-size: 16px;
    color: #3c6a6a;
    background-color: #ffffff;
    border: 1px solid #ff9b9b;
    font-family: "fantasy";
    transition: all 0.4s;
}

#cart_items {
    background-color: rgb(174, 231, 186);
    border-radius: 50px;
    height: 16px;
    width: 16px;
    padding-top: 1px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    line-height: 15px;
    vertical-align: middle;
    font-size: 15px;
    text-align: center;
    top: 23px;
    right: 157px;
}

.cartPreviewPanel{
    display: flex;
    vertical-align: middle;
    flex-direction: row-reverse;
}

.cartPreviewPanelRightSide {
    display: inline-flex;
    flex-direction: column;
    margin-left: 5px;
    width: 95%;
}

.cartPreviewProductName {
    display: block;
    margin-top: 2px;
    text-align: left;
    font-size: 84%;
    color: #26303d;
}

.cartPreviewCurrentPrice, .cartPreviewQuantity {
    font-size: 82%;
    margin-top: 2px;
    color: #808080;
}


.cartPreviewRemove {
    font-size: 1pt;
    border: 1px solid #aaa;
    padding: 3px;
    display: inline-flex;
    width: 7px;
    height: 7px;
    position: absolute;
    right: 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    margin-top: 3.5px;
    border-radius: 2px;
}

.cartPreviewProductThumbWrapper {
    border: 1px solid #e3e3e3;
    background-color: #fefefe;
    height: 58px;
    display: inline-flex;
    width: 60px;
    margin-top: 2px;
    margin-left: 2px;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    transition: box-shadow 1.4s;
}

.cartPreviewProductThumbWrapper:hover {
    box-shadow: 0px 0px 10px #ececec;
    transition: box-shadow 1s;
}

.cartPreviewProductThumb {
    width: 60px;
    max-height: 58px;
}

.addToCartPayment {
    width: 155px;
    padding: 8px 10px;
    background-color: #f0eeee;
    color: #666;
    border: none;
    margin-top: 10px;
    border-bottom: 2px solid #cecece;
    border-radius: 7px;
    transition: all 1.1s;
    position: absolute;
    right: 2px;
    font-size: 150%;
}

.addToCartPayment:hover {
    background-color: #a1bdcf;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.4s;
}

.preview-cart {
    width: 363px;
    box-shadow: 0 0 10px #6c6c6c;
    position: absolute;
    top: 60px;
    background-color: #fefefe;
}

.cartBtn {
    width: 155px;
    padding: 8px 10px;
    background-color: #f0eeee;
    color: #666666;
    border: none;
    border-bottom: 2px solid #cecece;
    border-radius: 7px;
    transition: all 1.1s;
    position: absolute;
    right: 182px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 150%;
}

.cartBtn:hover {
    background-color: #a1bdcf;
    color: #fff;
    border-radius: 7px;
    border-bottom: 2px solid #a1a1a1;
    cursor: pointer;
    transition: all 0.4s;
}

.cartPanel{
    display: flex;
    vertical-align: middle;
    flex-direction: row-reverse;
}

.cartPanelRightSide {
    display: inline-flex;
    flex-direction: column;
    margin-left: 5px;
    width: 95%;
}

.cartProductName {
    display: block;
    margin-top: 2px;
    text-align: left;
    font-size: 110%;
    color: #253952;
}

.cartCurrentPrice, .cartQuantity, .cartCurrentPriceWithQuantity {
    font-size: 100%;
    margin-top: 2px;
    color: #6f4b4b;
}

.cartRemove {
    border: 1px solid #ffe1e1;
    display: inline-flex;
    width: 9px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 12px;
    padding-left: 12px;
    height: 7px;
    text-align: center;
    line-height: 6pt;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}

.cartRemove:hover {
    background-color: #fff1f1;
    transition: all 0.5s;
}

.cartProductThumbWrapper {
    border: 1px solid #e3e3e3;
    background-color: #fefefe;
    height: 120px;
    display: inline-flex;
    width: 120px;
    margin-top: 2px;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    transition: box-shadow 1.4s;
}

.cartProductThumbWrapper:hover {
    box-shadow: 0px 0px 6px #b4fff6;
    transition: box-shadow 1s;
}

.cartProductThumb {
    width: 65%;
    max-height: 70px;
}

.addCartPayment {
    width: 155px;
    padding: 8px 10px;
    background-color: #f0eeee;
    color: #666;
    border: none;
    border-bottom: 2px solid #cecece;
    border-radius: 7px;
    transition: all 1.1s;
    position: absolute;
    text-align: center;
    right: 530px;
    font-size: 150%;
    margin-bottom: 10px;
}

.addCartPayment:hover {
    background-color: #a1bdcf;
    color: #fff;
    border-radius: 7px;
    border-bottom: 2px solid #a1a1a1;
    cursor: pointer;
    transition: all 0.4s;
}

.Prreview-cart {
    width: 1210px;
    position: absolute;
    top: 60px;
    background-color: #fffffa;
}

#cartDetail {
    width: 90%;
    margin-right: 58px;
    direction: ltr;
}

td {
    border: 0.5px solid #dedede;
}

.cartQuantity {
    font-size: 100%;
    text-align: center;
    color: #ff0000;
}

th {
    background-color: #f2ffec;
    font-size: 12px;
    color: #154540;
    padding: 12px 8px;
    border: 0.5px solid #efefef;
}

.finalPrice {
    color: #6a426d;
    font-size: 128%;
    position: absolute;
    bottom: 80px;
    right: 498px;
}

.priceFinally {
    color: #a05;
    position: absolute;
    bottom: 80px;
    right: 677px;
}

