 * {
		margin: 0px ;
		padding: 0px ;
		/*	direction: rtl;*/	
	}

	body {
		background-color: rgb(250, 250, 250);
		font-family: sans-serif ;
		font-size: 1em;
		height: 100% ;
		padding:  0px 0px 2px 0px ;
	}

	.btn {
		background-color: #fdfafa;
		color: #6d6368;
		padding: 5px 10px;
		cursor: pointer;
		border-radius: 5px;
		border: 1px solid #b8b8b8;
		text-decoration: none;
		margin-top: 45px;
		font-size: 15px;
	}

	.btn:hover {
		background-color: #eff5f5;
		font-size: 15px;
		border-radius: 5px ;
		cursor: pointer ;
		color: #323232;
		border-right: 1px solid rgb(132, 166, 182) ;
		border-left: 1px solid rgb(132, 166, 182);
		border-top: 1px solid rgb(132, 166, 182);
		/* border-bottom: 1px solid rgb(132, 166, 182); */
		box-shadow: 1px 1px 1px #dedede;
	}

	.btn-blue {
		background-color: #eee;
		color: blue;
		padding-top: 4.5px;
		padding-bottom: 5px;
		padding-left: 6px;
		padding-right: 6px;
		cursor: pointer ;
		border-radius: 15px ; 
		border: 1px solid rgb(135, 235, 213);
		font-size: 15.5px;
		outline: none;
		text-decoration: none;
		font-family: Verdana, Tahoma, sans-serif;
	}

	.btn-blue:hover {
		background-color: blue;
		color: #fff ;
		padding-top: 4.5px;
		padding-bottom: 5px;
		padding-left: 6px;
		padding-right: 6px;
		cursor: pointer;
		border-radius: 15px ;
		border: 1px solid rgb(135, 235, 213) ;
		font-size: 15.5px ;
	}

	.btn-blue2 {
		background-color: blue;
		color: #ffffff;
		padding-top: 4.5px;
		padding-bottom: 5px;
		padding-left: 6px;
		padding-right: 6px;
		cursor: pointer ;
		border-radius: 15px ; 
		border: 1px solid rgb(135, 235, 213);
		font-size: 15.5px;
		outline: none;
		text-decoration: none;
		font-family: Verdana, Tahoma, sans-serif;
	}

	.btn-blue2:hover {
		background-color: #ffffff;
		color: blue;
		padding-top: 4.5px;
		padding-bottom: 5px;
		padding-left: 6px;
		padding-right: 6px;
		cursor: pointer;
		border-radius: 15px ;
		border: 1px solid #eee ;
		font-size: 15.5px ;
	}

	.link {
		color: #178 ;
		cursor: pointer ;
		text-decoration: underline ;
		margin: 0px 10px ;
		font-size: 13.56px ;
	}

	.link:hover {
		text-decoration: underline ;
		color: #555468 ;
		font-size: 13.56px ;
	}

	input, textarea {
		border: 1px solid #8b5f8b ;
		/* font-size: 16px ; */
		padding: 5px 6px ;
		width: 290px ;
		font-size: 10.5pt ;
	}
	input:hover, textarea:hover {
		border: 1px solid #121599;
		background-color: #f9fcff;
		cursor: cell;
	}
	input:focus, textarea :focus {
		border: 1px solid #1225a9 ;
		background-color: #fff ;
	}
	
	.float-right {
		float: right ;
		clear: both ;
	}

	#content {
		padding: 15px ;
		/* max-width: 800px; */
		/* margin-top: 79px ; */
		/* margin: 0 auto; */
	}

	#header-wrapper {
		background-color: #f7f7f7 ;
		height: 50px ;
		top: 0 ;
		position: fixed ;
		width: 96.6% ;
		padding-top: 3px;
		/*display: block ;*/
		border: solid 1.1px yellow ;
		padding-bottom: 0 ;
		padding-right: 45px ;
		padding-top: 13px ;
		direction: rtl ;
	}

	#header-top-right {
		position: absolute ;
		right: 12px ;
	}

	.fild {
		font-size: 15.5px ;
		color: #61003f ;
		font-family: tahoma ;
	}
	.con {
		font-size: 15.5px ;
		color: #61003f ;
		font-family: tahoma ;

	}

	#profile-image{
		padding-top: 3px;
		border-radius: 89px;
		vertical-align: middle;
		margin-bottom: 8px;
	}

	.todo-entry {
		max-width: 825px; 
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		/*color: #2f2f2f;*/
		background-color: rgba(0, 54, 136, 0.6);
	}

	.todo-entry.done {
		background-color: rgba(0, 255, 0, 0.29);
	}

	.todo-entry.pending {
		background-color: rgba(255, 0, 0, 0.29);
	}

	.todo-entry li {
		display: inline-block;
		border-right: 1px solid #986464;
		/*border-left: 1px solid #888;*/
		padding: 6px 9px;
	}

	.todo-entry:nth-child(1) {
		background: rgba(127, 127, 127, 0.65);
	}

	.todo-entry:nth-child(1) li {
		border-right: 1px solid #88f;
		/*border-left: 1px solid #88f;*/
	}

	.todo-entry li:nth-child(1) {
		width: 26.9px;
		max-width: 26.9px;
		min-width: 26.9px;
	}

	.todo-entry li:nth-child(2) {
		width: 25.9px;
		max-width: 25.9px;
		min-width: 25.9px;
	}

	.todo-entry li:nth-child(3) {
		width: 135%;
	}

	.todo-entry li:nth-child(4) {
		width: 395%;
	}

	.todo-entry li:nth-child(5) {
		width: 191px;
		min-width: 191px;
		text-align: center;
	}

	.cols {
		display: flex;
	}

	.cols li {
		display: inline-block;
	}

	#preview { 
		color: #444;
		background-color: rgba(199, 236, 231, 0.74);
		border: 1px solid #bbdae2;
		margin-left: 10px;
		height: 301px;
		width: 410px;

	}

	.preview-word {
		padding: 4px;
		line-height: 41px;
		background-color: rgba(56, 250, 4, 0.3);
		border: 1px solid #070;
		font-family: tahoma;
	}

	.tooltipster-word {
		text-decoration: none;
	}

	.preview-word a {
		color: #520;
		text-decoration: none;
	}

	.preview-word a:hover  {
		color: rgb(155, 68, 2);
	}

	.preview-word a:visited {
		color: rgb(126, 51, 1);
	}

	.preview-word a:visited:hover {
		color: rgb(184, 94, 25);
	}

	.tooltipster-word a {
		color: rgb(31, 177, 153);
		text-decoration: none;
	}

	.tooltipster-word a:hover  {
		color: rgb(219, 89, 57);
	}

	.tooltipster-word a:visited {
		color: rgb(82, 197, 163);
	}

	.tooltipster-word a:visited:hover {
		color: rgb(211, 96, 67);
	}

