* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    padding: 0;
}

input, textarea {
    border: 1px solid rgb(238, 238, 238);
    font-size: 16px;
    padding: 5px 6px;
    width: 280px;
    font-family: "nassim";
    font-size: 12pt;
    border-radius: 5px;
    transition: all 0.9s;
}

input:hover, textarea:hover {
    border: 1px solid #bfa4a4;
    border-radius: 5px;
}

input:focus, textarea:focus {
    border: 1px solid #f7c6c2 ;
    background-color: #fffdfd ;
}

a, a:visited, a:hover {
    text-decoration: none;
}

#content {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0.1px;
}

#header-wrapper {
    background-color: #f5f5f5;
    height: 33px;
    max-width: 99.83%;
    min-width: 99.83%;
    display: block;
    border: solid 1px rgb(128, 226, 185);
    padding-top: 18px;
    z-index: 1000;
}

#footer_wrapper {
    background-color: #f5f5f5;
    height: 33px;
    max-width: 99.83%;
    min-width: 99.83%;
    display: block;
    position: fixed;
    bottom: 0;
    border: solid 1px rgb(128, 226, 185);
    padding-top: 18px;
    z-index: 1000;
}

#header-top-right {
    position: absolute ;
    right: 19px ;
    top: 12px;
}

.fail {
    font-size: 18.5px;
    color: #463269;
    font-family: verdana;
}

.con {
    font-size: 18.5px;
    color: #463269 ;
    font-family: fantasy;
}

.profile-image {
    border-radius: 120px;
    vertical-align: middle;
    margin-right: 3px;
}

.arz {
    color: #baa6ee;
    font-size: 15px;
}

.nt-cls {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    border: 1px solid #e7e7e7;
    left: 106px;
    top: 95px;
    transition: all 0.5s;
}

.nt-cls:hover {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    border: 1px solid #5eecb3;
    background-color: #dddddd;
    transition: all 0.6s;
}

.dg-cls {
    width: 27px;
    height: 27px;
    font-size: 11px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    left: 190px;
    top: 89px;
    transition: all 0.5s;
}

.li-cls {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    border: 1px solid #e7e7e7;
    left: 140px;
    top: 95px;
    transition: all 0.5s;
}

.li-cls:hover {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    border: 1px solid #5eecb3;
    background-color: #dddddd;
    transition: all 0.2s;
}

.image-syl {
    width: 200px;
}

.image {
    width: 20px;
    height: 25px;
}

.pon {
    position: absolute;
    left: 10px;
    font-size: 16px;
}

.company {
    text-align: center;
    font-size: 15px;
    color: #002f17;
    position: fixed;
    right: 380px;
}
