
.btn {
	background-color: #f5f5f5;
	color: #6d6368;
	padding: 7px 12px 11px 12px;
	cursor: pointer;
	border-radius: 5px ;
	border: 1px solid #b8b8b8;
	text-decoration: none;
	margin-top: 45px;
	font-size: 15px;
	transition: all 0.2s;
}

.btn:hover {
	background-color: #efefff;
	font-size: 15px;
	border-radius: 4px;
	cursor: pointer;
	color: #323232;
	border-right: 1px solid cadetblue ;
	border-left: 1px solid cadetblue;
	border-top: 1px solid #449396;
	border-bottom: 1px solid #449396;
	box-shadow: 1px 1px 1px #dedede;
	transition: all 0.2s;
}

.btn1 {
	background-color: #c7c7c7;
	font-size: 17px;
	padding: 6px;
	padding-bottom: 8px;
	margin-left: 9px;
	text-decoration: none;
	cursor: pointer;
	border-top: 0.7px solid #00fff7;
	border-radius: 2px;
	color: #323232;
	box-shadow: 1px 1px 1px #dedede;
	transition: all 0.3s;
}

.btn1:hover {
	background-color: #acabab;
	font-size: 17px;
	border-radius: 0 0 2px 2px;
	border-top: 4px solid #57cdcd;
	cursor: pointer;
	color: #474747;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #dedede;
	transition: all 0.1s;
}

.btn-2 {
	background-color: #f5f7f9;
	color: #5a5357;
	padding: 4px 11px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 9px;
	text-decoration: none;
	margin-top: 45px;
	font-size: 17px;
	border-right: 1px solid rgb(114, 140, 141) ;
	border-left: 1px solid rgb(154, 183, 184);
	border-top: 1px solid #449396;
	border-bottom: 1px solid #449396;
}

.btn-2:hover {
	background-color: #efefff;
	font-size: 17px;
	border-radius: 9.2px;
	cursor: pointer;
	color: #525050;
	border-right: 1px solid rgb(114, 140, 141) ;
	border-left: 1px solid rgb(154, 183, 184);
	border-top: 1px solid #449396;
	border-bottom: 1px solid #449396;
	box-shadow: 1px 0px 0px 0px #d1cdcd;
}

.pagination-btn {
	background-color: #49adab;
	border: 1px solid #4aa9c6;
	border-radius: 3px;
	color: #e7e2e2;
	padding: 6px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

.pagination-btn:hover {
	background-color: #67bab6;
	border: 1px solid #4aa9c6;
	border-radius: 3px;
	color: #e7e2e2;
	padding: 6px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

.btn-blue {
	background-color: #8da8f1;
	color: rgb(124, 34, 34);
	cursor: pointer;
	border-radius: 5px;
	border: 0.5px solid #eee ;
	outline: none;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 11px;
	padding-right: 11px;
	text-decoration: none;
	font-size: 16.5px;
	transition: all 0.3s;
}

.btn-blue:hover {
	background-color: #afc5ec;
	color: rgb(192, 72, 72);
	cursor: pointer;
	border-radius: 5px;
	border: 0.5px solid #eee ;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16.5px;
	transition: all 0.3s;
}

.pageination-btn {
	border: 1px solid #4aa9c6;
	border-radius: 3px;
	color: #e7e2e2;
	padding: 6px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	transition: all 0.4s;
}

.pageination-btn:hover {
	background-color: #4a7976;
	border: 1px solid #4aa9c6;
	border-radius: 3px;
	color: #e7e2e2;
	padding: 6px 24px;
	text-align: center;
	cursor: context-menu;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	transition: all 0.3s;
}

.link {
	color: #80c15c;
	cursor: pointer;
	text-decoration: underline;
	margin: 0px 10px;
	font-size: 16.5px;
	transition: all 0.4s;
}

.link:hover {
	text-decoration: none;
	color: #b3a5c2;
	font-size: 16.5px;
	transition: color 0.4s;
}

.add {
	position: absolute;
	left: 20px;
	top: 80px;
}

.gstuser {
	font-size: 17px;
	color: #dbc397;
}

html,
css {
	width: 100%;
	height: 100%;
}

#workarea {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Raleway;
}

#personal {
	color: #ffffff;
	position:absolute;
	bottom:15px;
	right:2%;
}

.spot {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 18px;
	left: 0;
}

.svg-wrapper {
	margin-top: 0;
	position: relative;
	width: 150px;
	height: 40px;
	display: inline-block;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px
}

#shape {
	stroke-width: 6px;
	fill: transparent;
	stroke: #009FFD;
	stroke-dasharray: 85 400;
	stroke-dashoffset: -220;
	transition: 1s all ease;
}

#text {
	margin-top: -35px;
	text-align: center;
}

#text a {
	color: #18b3a3;
	text-decoration: none;
	font-weight: 100;
	line-height: 30px;
	font-size: 1.2em;
}

.svg-wrapper:hover #shape {
	stroke-dasharray: 50 0;
	stroke-width: 3px;
	stroke-dashoffset: 0;
	stroke: #8013ba;
}

body{
	width: 100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background:
			linear-gradient(
					rgba(0, 0, 0, 0.7),
					rgba(0, 0, 0, 0.7)
			),
			black url('https://images.unsplash.com/photo-1439723680580-bfd9d28ef9b6?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 50% 50% no-repeat;
//background:
linear-gradient(
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)
),
rgba(220, 220, 220, 1) url('https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 50% 50% no-repeat;
//background-blend-mode: exclusion;
	background-blend-mode: luminosity;


}

.container{
	height:100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn3 {
	margin-top: calc(50% + 25px);
	position: relative;
	display: inline-block;
	width: 277px;
	height: 50px;
	font-size: 4em;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	cursor: pointer;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-weight:900;
	font-size:17px;
	letter-spacing: 0.045em;
}

.btn3 svg {
	position: absolute;
	top: 0;
	left: 0;
}

.btn3 svg rect {
//stroke: #EC0033;
	stroke-width: 4;
	stroke-dasharray: 353, 0;
	stroke-dashoffset: 0;
	-webkit-transition: all 600ms ease;
	transition: all 600ms ease;
}

.btn3 span{
	background: rgb(255,130,130);
	background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
	background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn3:hover svg rect {
	stroke-width: 4;
	stroke-dasharray: 196, 543;
	stroke-dashoffset: 437;
}

/* todo table */

.todo-entry {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.todo-entry.done {
	background-color: rgb(211, 245, 195);
}

.todo-entry.pending {
	background-color: rgb(245, 195, 195);
}

.todo-entry li {
	display: inline-block;
	border-left: 1px solid rgb(0, 94, 156);
	padding: 7px 6px;
}

.todo-entry li:nth-child(1) {
	width: 4.2%;
	max-width: 4.2%;
	min-width: 4.2%;
	text-align: center;
}

.todo-entry li:nth-child(2) {
	width: 4.2%;
	max-width: 4.2%;
	min-width: 4.2%;
	text-align: center;
}

.todo-entry li:nth-child(3) {
	width: 25.5%;
}

.todo-entry li:nth-child(4) {
	width: 77%;
}

.todo-entry li:nth-child(5) {
	width: 191px;
	min-width: 191px;
	text-align: center;
}

.back-color {
	background: rgba(7, 159, 225, 0.884);
}
