
.btn {
	background-color: #f5f5f5;
	color: #6d6368;
	padding: 7px 12px 11px 12px;
	cursor: pointer;
	border-radius: 5px ;
	border: 1px solid #b8b8b8;
	text-decoration: none;
	margin-top: 45px;
	font-size: 15px;
	transition: all 0.2s;
}

.btn:hover {
	background-color: #efefff;
	font-size: 15px;
	border-radius: 4px;
	cursor: pointer;
	color: #323232;
	border-right: 1px solid cadetblue ;
	border-left: 1px solid cadetblue;
	border-top: 1px solid #449396;
	border-bottom: 1px solid #449396;
	box-shadow: 1px 1px 1px #dedede;
	transition: all 0.2s;
}

.btn1 {
	background-color: #c7c7c7;
	font-size: 17px;
	padding: 6px;
	padding-bottom: 8px;
	margin-left: 9px;
	text-decoration: none;
	cursor: pointer;
	border-top: 0.7px solid #00fff7;
	border-radius: 2px;
	color: #323232;
	box-shadow: 1px 1px 1px #dedede;
	transition: all 0.3s;
}

.btn1:hover {
	background-color: #acabab;
	font-size: 17px;
	border-radius: 0 0 2px 2px;
	border-top: 4px solid #57cdcd;
	cursor: pointer;
	color: #474747;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #dedede;
	transition: all 0.1s;
}

.btn-2 {
	background-color: #f5f7f9;
	color: #5a5357;
	padding: 4px 11px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 9px;
	text-decoration: none;
	margin-top: 45px;
	font-size: 17px;
	border-right: 1px solid rgb(114, 140, 141) ;
	border-left: 1px solid rgb(154, 183, 184);
	border-top: 1px solid #449396;
	border-bottom: 1px solid #449396;
}

.btn-2:hover {
	background-color: #efefff;
	font-size: 17px;
	border-radius: 9.2px;
	cursor: pointer;
	color: #525050;
	border-right: 1px solid rgb(114, 140, 141) ;
	border-left: 1px solid rgb(154, 183, 184);
	border-top: 1px solid #449396;
	border-bottom: 1px solid #449396;
	box-shadow: 1px 0px 0px 0px #d1cdcd;
}

.pegination-btn {
	background-color: #49adab;
	border: 1px solid #4aa9c6;
	border-radius: 3px;
	color: #e7e2e2;
	padding: 6px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

.pegination-btn:hover {
	background-color: #67bab6;
	border: 1px solid #4aa9c6;
	border-radius: 3px;
	color: #e7e2e2;
	padding: 6px 24px;
	text-align: center;
	cursor: context-menu;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

.btn-blue {
	background-color: #8da8f1;
	color: rgb(124, 34, 34);
	cursor: pointer;
	border-radius: 5px;
	border: 0.5px solid #eee ;
	outline: none;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 11px;
	padding-right: 11px;
	text-decoration: none;
	font-size: 16.5px;
	transition: all 0.3s;
}

.btn-blue:hover {
	background-color: #afc5ec;
	color: rgb(192, 72, 72);
	cursor: pointer;
	border-radius: 5px;
	border: 0.5px solid #eee ;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16.5px;
	transition: all 0.3s;
}

.link {
	color: #178;
	cursor: pointer;
	text-decoration: underline;
	margin: 0px 10px;
	font-size: 16.5px;
	transition: all 0.4s;
}

.link:hover {
	text-decoration: none;
	color: #6b4899;
	font-size: 16.5px;
	transition: color 0.4s;
}

.add {
	position: absolute;
	left: 20px;
	top: 50px;
}
