* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    padding: 0px 0px 0px 0px;
}

.btn {
    background-color: #f5f5f5;
    color: #6d6368;
    padding: 7px 12px 11px 12px;
    cursor: pointer;
    border-radius: 5px ;
    border: 1px solid #b8b8b8;
    text-decoration: none;
    margin-top: 45px;
    font-size: 15px;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #efefff;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    color: #323232;
    border-right: 1px solid cadetblue ;
    border-left: 1px solid cadetblue;
    border-top: 1px solid #449396;
    border-bottom: 1px solid #449396;
    box-shadow: 1px 1px 1px #dedede;
    transition: all 0.2s;
}

.btn1 {
    background-color: #c7c7c7;
    font-size: 17px;
    padding: 6px;
    padding-bottom: 8px;
    margin-left: 9px;
    text-decoration: none;
    cursor: pointer;
    border-top: 0.7px solid #00fff7;
    border-radius: 2px;
    color: #323232;
    box-shadow: 1px 1px 1px #dedede;
    transition: all 0.3s;
}

.btn1:hover {
    background-color: #acabab;
    font-size: 17px;
    border-radius: 0 0 2px 2px;
    border-top: 4px solid #57cdcd;
    cursor: pointer;
    color: #424449;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #dedede;
    transition: all 0.1s;
}

.btn-2 {
    background-color: #f5f7f9;
    color: #5a5357;
    padding: 4px 11px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 9px;
    text-decoration: none;
    margin-top: 45px;
    font-size: 17px;
    border-right: 1px solid rgb(114, 140, 141) ;
    border-left: 1px solid rgb(154, 183, 184);
    border-top: 1px solid #449396;
    border-bottom: 1px solid #449396;
}

.btn-2:hover {
    background-color: #efefff;
    font-size: 17px;
    border-radius: 9.2px;
    cursor: pointer;
    color: #525050;
    border-right: 1px solid rgb(114, 140, 141) ;
    border-left: 1px solid rgb(154, 183, 184);
    border-top: 1px solid #449396;
    border-bottom: 1px solid #449396;
    box-shadow: 1px 0px 0px 0px #d1cdcd;
}

.pegination-btn {
    background-color: #49adab;
    border: 1px solid #4aa9c6;
    border-radius: 3px;
    color: #e7e2e2;
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.pegination-btn:hover {
    background-color: #67bab6;
    border: 1px solid #4aa9c6;
    border-radius: 3px;
    color: #e7e2e2;
    padding: 6px 24px;
    text-align: center;
    cursor: context-menu;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.btn-blue {
    background-color: #8da8f1;
    color: rgb(124, 34, 34);
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid #eee ;
    outline: none;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
    font-size: 16.5px;
    transition: all 0.3s;
}

.btn-blue:hover {
    background-color: #afc5ec;
    color: rgb(192, 72, 72);
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid #eee ;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16.5px;
    transition: all 0.3s;
}

.link {
    color: #178;
    cursor: pointer;
    text-decoration: underline;
    margin: 0px 10px;
    font-size: 16.5px;
    transition: all 0.4s;
}

.link:hover {
    text-decoration: none;
    color: #6b4899;
    font-size: 16.5px;
    transition: color 0.4s;
}

input, textarea {
    border: 1px solid rgb(238, 238, 238);
    font-size: 16px;
    padding: 5px 6px;
    width: 280px;
    font-family: "nassim";
    font-size: 12pt;
    border-radius: 5px;
    transition: all 0.9s;
}

input:hover, textarea:hover {
    border: 1px solid #bfa4a4;
    border-radius: 5px;
}

input:focus, textarea:focus {
    border: 1px solid #f7c6c2 ;
    background-color: #fffdfd ;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.float-right {
    float: right;
    clear: both ;
}

#content {
    padding: 10px ;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0.1px;
}

#notes {
    padding: 10px ;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0.1px;
}

#header-wrapper {
    background-color: #f5f5f5;
    height: 33px;
    max-width: 99.83%;
    min-width: 99.83%;
    display: block;
    border: solid 1px rgb(128, 226, 185);
    padding-top: 18px;
    z-index: 1000;
}

#footer_wrapper {
    background-color: #f5f5f5;
    height: 33px;
    max-width: 99.83%;
    min-width: 99.83%;
    display: block;
    position: fixed;
    bottom: 0;
    border: solid 1px rgb(128, 226, 185);
    padding-top: 18px;
    z-index: 1000;
}

#header-top-right {
    position: absolute ;
    right: 19px ;
    top: 12px;
}

.fail {
    font-size: 18.5px;
    color: #463269;
    font-family: verdana;
}

.con {
    font-size: 18.5px;
    color: #463269 ;
    font-family: fantasy;
}

.profile-image {
    border-radius: 120px;
    vertical-align: middle;
    margin-right: 3px;
}

.todo-entry {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.todo-entry.done {
    background-color: rgb(211, 245, 195);
}

.todo-entry.pending {
    background-color: rgb(245, 195, 195);
}

.todo-entry li {
    display: inline-block;
    border-left: 1px solid rgb(0, 94, 156);
    padding: 7px 6px;
}

.todo-entry li:nth-child(1) {
    width: 4.2%;
    max-width: 4.2%;
    min-width: 4.2%;
    text-align: center;
}

.todo-entry li:nth-child(2) {
    width: 4.2%;
    max-width: 4.2%;
    min-width: 4.2%;
    text-align: center;
}

.todo-entry li:nth-child(3) {
    width: 25.5%;
}

.todo-entry li:nth-child(4) {
    width: 77%;
}

.todo-entry li:nth-child(5) {
    width: 191px;
    min-width: 191px;
    text-align: center;
}

.back-color {
    background: rgba(7, 159, 225, 0.884);
}

.arz {
    color: #baa6ee;
    font-size: 15px;
}

.inp  {
    border-top:none;
    border-right: none;
    border-left: none;
}

.inp:hover  {
    border-top: none;
    border-right: none;
    border-left: none;
}

.inp:focus  {
    border-top: none;
    border-right: none;
    border-left: none;
}

.okms {
    color: #3e3e3e;
}

.nt-cls {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    border: 1px solid #e7e7e7;
    left: 106px;
    top: 95px;
    transition: all 0.5s;
}

.nt-cls:hover {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    border: 1px solid #5eecb3;
    background-color: #dddddd;
    transition: all 0.6s;
}

.li-cls {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    border: 1px solid #e7e7e7;
    left: 140px;
    top: 95px;
    transition: all 0.5s;
}

.li-cls:hover {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    border: 1px solid #5eecb3;
    background-color: #dddddd;
    transition: all 0.2s;
}

.image-syl {
    width: 200px;
}

.image {
    width: 20px;
    height: 25px;
}

.pon {
    position: absolute;
    left: 10px;
    font-size: 15px;
}

.company {
    text-align: center;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: #1a1966;
}

